<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Nassau Tickets
    </ion-title>
    <ion-buttons slot="end"> <ion-button class="perfil"> <div class="avatar"> <ion-icon name="person"></ion-icon> </div> </ion-button> </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="totem">

<div class="cabecalho">
  <h1>Controle de Atendimento</h1>
  <p>Selecione o tipo de atendimento</p>
</div>


#opções para a retirada de senhas
<div class="botoes-senhas">

    <ion-button class="botao-senha exames" expand="block">
    <div class="conteudo-botao">
      <span class="titulo">RETIRADA DE EXAMES</span>
      <span class="sigla">SE</span>
    </div>
  </ion-button>


  <ion-button class="botao-senha geral" expand="block">
    <div class="conteudo-botao">
      <span class="titulo">SENHA GERAL</span>
      <span class="sigla">SG</span>
    </div>
  </ion-button>

    <ion-button class="botao-senha prioridade" expand="block">
    <div class="conteudo-botao">
      <span class="titulo">SENHA PRIORITÁRIA</span>
      <span class="sigla">SP</span>
    </div>
  </ion-button>

</div>

  </div>

</ion-content>
